
<div class="container">

    <section>
        
        <h2 class="heading-text">A&G PHOTOGRAPHY <span> Picture Gallery</span></h2>
    <div class="image-gallery">

        
      <div class="column">
        <div class="image-item">
          <img src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/e6FMMambeO4" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/klCiPmzUw0Y" alt="" />
          <div class="overlay"><span></span></div>
        </div>
      </div>

      <div class="column">
        <div class="image-item">
          <img src="https://source.unsplash.com/O0N9MF--hK4" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/FV3GConVSss" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/0ESjL-Nw22Y" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/KTVn62x6fFw" alt="" />
          <div class="overlay"><span></span></div>
        </div>
      </div>

      
      <div class="column">
        <div class="image-item">
          <img src="https://source.unsplash.com/O0N9MF--hK4" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/FV3GConVSss" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/0ESjL-Nw22Y" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/KTVn62x6fFw" alt="" />
          <div class="overlay"><span></span></div>
        </div>
      </div>

     
      <div class="column">
        <div class="image-item">
          <img src="https://source.unsplash.com/VSeVhmW4_JQ" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/07aFaTf24Kg" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/DqyYTM7pR2o" alt="" />
          <div class="overlay"><span></span></div>
        </div>
        <div class="image-item">
          <img src="https://source.unsplash.com/IdNOTjPeHrE" alt="" />
          <div class="overlay"><span></span></div>
        </div>
      </div>
    </div>

    </section>

    <br>

    
        
    <section class="bg-white text-dark p-5 p-lg-0 py-5 my-3 text-center">
        <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <img class="img-fluid  p-1 w-50 d-none d-sm-block" src="assets/images/_T5A1889.jpg" alt="car">
            <img class="img-fluid p-1 w-50 d-none d-sm-block" src="assets/images/_T5A1956.jpg" alt="car">
        </div>
        </div>
    </section>


    <section>

        <div class="container ">
            <carousel>
                <slide>
                  <img src="assets/images/1T5A7259.png" alt="first slide" style="display: block;width: 100%;">
                </slide>
                <slide>
                  <img src="assets/images/1T5A7261.png" alt="second slide" style="display: block;width: 100%;">
                </slide>
                <slide>
                  <img src="assets/images/1T5A7263.png" alt="third slide" style="display: block;width: 100%;">
                </slide>
        
                <slide>
                    <img src="assets/images/1T5A7337.png" alt="third slide" style="display: block;width: 100%;">
                  </slide>
        
                  <slide>
                    <img src="assets/images/1T5A7264.png" alt="third slide" style="display: block;width: 100%;">
                  </slide>
                  <slide>
                    <img src="assets/images/1T5A7268.png" alt="third slide" style="display: block;width: 100%;">
                  </slide>
                  
        
                  <slide>
                    <img src="assets/images/1T5A7269.png" alt="third slide" style="display: block;width: 100%;">
                  </slide>
                  
                  <slide>
                    <img src="assets/images/1T5A7264.png" alt="third slide" style="display: block;width: 100%;">
                  </slide>
                  
        
              </carousel>
        </div>
    
    </section>
   
    
  </div>

