<section>

    <div class="container p-4 ">
        <carousel>
            <slide>
              <img src="assets/images/1T5A7259.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/1T5A7261.png" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/1T5A7263.png" alt="third slide" style="display: block; width: 100%;">
            </slide>
    
            <slide>
                <img src="assets/images/1T5A7337.png" alt="third slide" style="display: block; width: 100%;">
              </slide>
    
              <slide>
                <img src="assets/images/1T5A7264.png" alt="third slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="assets/images/1T5A7268.png" alt="third slide" style="display: block; width: 100%;">
              </slide>
              
    
              <slide>
                <img src="assets/images/1T5A7269.png" alt="third slide" style="display: block; width: 100%;">
              </slide>
              
              <slide>
                <img src="assets/images/1T5A7264.png" alt="third slide" style="display: block; width: 100%;">
              </slide>
              
    
          </carousel>
    </div>

</section>

<section class="bg-white text-dark p-5 p-lg-0 py-5 my-3 text-center">
    <div class="container">
       <div class="d-sm-flex align-items-center justify-content-between">
        <img class="img-fluid  p-1 w-50 d-none d-sm-block" src="assets/images/_T5A1889.jpg" alt="car">
        <img class="img-fluid p-1 w-50 d-none d-sm-block" src="assets/images/_T5A1956.jpg" alt="car">
       </div>
    </div>
</section>


<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">Portrait Photography</h3>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur 
                            adipisicing elit. Officia temporibus corporis quae
                             totam dolor consequatur dignissimos voluptatibus ullam 
                             veritatis amet, ad reprehenderit. Veritatis accusamus odit d
                             olorem! Quos sit fugiat alias!
                        </p>
                        <a [routerLink]="['/reservations-page']" class="btn btn-primary">book now</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-camera"></i>
                        </div>
                        <h3 class="card-title mb-3">Weddings</h3>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur 
                            adipisicing elit. Officia temporibus corporis quae
                             totam dolor consequatur dignissimos voluptatibus ullam 
                             veritatis amet, ad reprehenderit. Veritatis accusamus odit d
                             olorem! Quos sit fugiat alias!
                        </p>
                        <a [routerLink]="['/reservations-page']" class="btn btn-primary">book now</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-people"></i>
                        </div>
                        <h3 class="card-title mb-3">Event Photography</h3>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur 
                            adipisicing elit. Officia temporibus corporis quae
                             totam dolor consequatur dignissimos voluptatibus ullam 
                             veritatis amet, ad reprehenderit. Veritatis accusamus odit d
                             olorem! Quos sit fugiat alias!
                        </p>
                        <a [routerLink]="['/reservations-page']" class="btn btn-primary">book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                
                <img class="img-fluid w-120 h-50 d-none d-sm-block" src="assets/images/_T5A1956.jpg" alt="cam">
            </div>
            <div class="col-md">
                <h2>Fundamentals Of Photography</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Magnam porro sapiente blanditiis consequuntur, culpa rem
                      quo omnis non unde nesciunt.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Iusto, voluptas! Accusamus tempora perferendis consequuntur,
                      rem quae dolores possimus vel alias.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Amet laboriosam quae expedita labore ab. Veritatis, ab quo
                      dolorem vero commodi sit tempora, ipsa nemo autem, quam nulla
                       earum eaque? Reiciendis, laudantium! Mollitia velit autem ad enim?
                        Voluptatem, earum quo, pariatur eos error doloremque vero iure modi
                         nihil cumque molestias eligendi.
                </p>
                <a href="#" class="btn btn-dark mt-3">
                    <i class="bi bi-chevron-right">Read More</i>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            
            <div class="col-md">
                <h2>Advanced Photography</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Magnam porro sapiente blanditiis consequuntur, culpa rem
                      quo omnis non unde nesciunt.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Iusto, voluptas! Accusamus tempora perferendis consequuntur,
                      rem quae dolores possimus vel alias.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Amet laboriosam quae expedita labore ab. Veritatis, ab quo
                      dolorem vero commodi sit tempora, ipsa nemo autem, quam nulla
                       earum eaque? Reiciendis, laudantium! Mollitia velit autem ad enim?
                        Voluptatem, earum quo, pariatur eos error doloremque vero iure modi
                         nihil cumque molestias eligendi.
                </p>
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-right">Read More</i>
                </a>
            </div>

            <div class="col-md">
                
                <img class="img-fluid h-50 d-none d-sm-block" src="assets/images/_T5A1960.jpg" alt="cam">
            </div>
        </div>
    </div>
</section>



