
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="assets/images/logo.png" alt="logo" width="70" height="40"> <span class="mx-2"> A&G PHOTOGRAPHY</span> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
          </li>

          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/pictures" routerLinkActive="active" ariaCurrentWhenActive="page">Pictures</a>
          </li>
          
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/reservations-page" ariaCurrentWhenActive="page" routerLinkActive="active">Reservations</a>
          </li>

          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/admin-home-page" routerLinkActive="active" ariaCurrentWhenActive="page">Admin Page</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

