<div class="container p-5">

    <div class="card text-center">
        <div class="card-header">
          <h1>A&G Photography: About Us Page</h1>
          <img src="assets/images/logo.png" alt="logo" width="250" height="100"> <span class="mx-2"></span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores 
            voluptatem doloremque modi voluptatum minima possimus odit quia reiciendis 
            saepe molestias assumenda quibusdam vitae labore, dolorum ad tempora? Laboriosam
             voluptates dicta quasi et quidem? Saepe culpa qui accusantium atque harum? Aspernatur, 
             unde ad debitis et quam ex similique ipsam consectetur in voluptatum nulla distinctio modi 
             praesentium iusto molestiae ipsa nobis sit beatae? Deserunt quas aspernatur esse nulla sequi. 
             Rem ipsum minus optio tempore qui magnam debitis molestiae sint recusandae aspernatur 
             deleniti ab, dolor ipsam officia dolores alias culpa accusantium vitae illum, consectetur 
             rerum laudantium accusamus! Dolorum minus ad quia tempore ab. Omnis, perferendis debitis
              magni maiores totam consequatur accusantium incidunt eveniet assumenda cum minus fuga 
              nemo beatae cumque exercitationem nesciunt vel eaque recusandae sint? Nulla perferendis 
              voluptates cupiditate, optio nesciunt necessitatibus dolorem, mollitia natus maxime,
               consequatur quo? Reiciendis a nam at omnis tempore ut vero blanditiis iure dignissimos 
               earum saepe facilis sint molestiae odio quia quam ullam sapiente, assumenda expedita adipisci 
               maxime. Ratione beatae dicta, atque eaque molestias est aspernatur ipsum id unde ea consequatur 
               reprehenderit delectus incidunt, officiis accusamus ullam dolorum soluta cupiditate modi qui 
               voluptatum asperiores quia. In necessitatibus dicta repellendus doloribus officiis explicabo
                blanditiis nesciunt nostrum neque dignissimos.</p>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores 
                    voluptatem doloremque modi voluptatum minima possimus odit quia reiciendis 
                    saepe molestias assumenda quibusdam vitae labore, dolorum ad tempora? Laboriosam
                     voluptates dicta quasi et quidem? Saepe culpa qui accusantium atque harum? Aspernatur, 
                     unde ad debitis et quam ex similique ipsam consectetur in voluptatum nulla distinctio modi 
                     praesentium iusto molestiae ipsa nobis sit beatae? Deserunt quas aspernatur esse nulla sequi. 
                     Rem ipsum minus optio tempore qui magnam debitis molestiae sint recusandae aspernatur 
                     deleniti ab, dolor ipsam officia dolores alias culpa accusantium vitae illum, consectetur 
                     rerum laudantium accusamus! Dolorum minus ad quia tempore ab. Omnis, perferendis debitis
                      magni maiores totam consequatur accusantium incidunt eveniet assumenda cum minus fuga 
                      nemo beatae cumque exercitationem nesciunt vel eaque recusandae sint? Nulla perferendis 
                      voluptates cupiditate, optio nesciunt necessitatibus dolorem, mollitia natus maxime,
                       consequatur quo? Reiciendis a nam at omnis tempore ut vero blanditiis iure dignissimos 
                       earum saepe facilis sint molestiae odio quia quam ullam sapiente, assumenda expedita adipisci 
                       maxime. Ratione beatae dicta, atque eaque molestias est aspernatur ipsum id unde ea consequatur 
                       reprehenderit delectus incidunt, officiis accusamus ullam dolorum soluta cupiditate modi qui 
                       voluptatum asperiores quia. In necessitatibus dicta repellendus doloribus officiis explicabo
                        blanditiis nesciunt nostrum neque dignissimos.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda sint explicabo expedita 
            animi exercitationem distinctio quibusdam magni laborum nostrum, sed ipsum repellat ab quo 
            consequuntur aspernatur iste dolorum blanditiis inventore velit, est molestiae repudiandae? 
            Doloribus tempora consectetur consequuntur? Totam obcaecati ipsam accusamus animi ullam cupiditate 
            aliquid tempora vero id rerum, atque temporibus saepe doloribus esse nemo facilis veritatis ea veniam,
             in ex ut. Quibusdam accusamus voluptatibus praesentium iusto necessitatibus modi aut voluptatum natus
              nobis soluta est quia, quam, quas facere at? Nesciunt deserunt laborum voluptatum nemo aperiam, 
              iste hic quod iusto reiciendis at? Laboriosam quas aspernatur nemo voluptate quod quos.</p>
        </div>
        <div class="card-footer text-muted">
          A&G Photography 
          <img src="assets/images/logo.png" alt="logo" width="70" height="35"> <span class="mx-2"></span>
        </div>
      </div>
</div>
